{{!-- Description Tab --}}
<section class="tab-content {{#if tab.active}}active{{/if}}" data-tab="description">

    {{!-- Main Description --}}
    <fieldset class="potion-fieldset description-fieldset">
        <legend><i class="fas fa-scroll"></i> Description</legend>
        <div class="editor-wrapper">
            {{#if isEditable}}
            <prose-mirror name="system.description" value="{{source.system.description}}" document-uuid="{{item.uuid}}"
                class="sized" compact>{{{enrichedDescription}}}</prose-mirror>
            {{else}}
            <div class="editor editor-content">
                {{{enrichedDescription}}}
            </div>
            {{/if}}
        </div>
    </fieldset>

    {{!-- Identification Description (native SD 4.x). GM-only: the alternate copy
          holds the item's true description while unidentified. --}}
    {{#if isGM}}
    <fieldset class="potion-fieldset description-fieldset">
        <legend><i class="fas fa-mask"></i>
            {{#if isUnidentified}}Identified Description{{else}}Unidentified Description{{/if}}
        </legend>
        <p class="hint">
            {{#if isUnidentified}}
            The item's true description, restored to players when it is identified.
            {{else}}
            Shown to players while the item is unidentified. Swapped with the real description when you
            toggle Unidentified on the Details tab. Leave empty to show nothing.
            {{/if}}
        </p>
        <div class="editor-wrapper">
            {{#if isEditable}}
            <prose-mirror name="system.identification.description" value="{{identificationDescription}}"
                document-uuid="{{item.uuid}}" class="sized" compact>{{{enrichedIdentificationDescription}}}</prose-mirror>
            {{else}}
            <div class="editor editor-content">
                {{{enrichedIdentificationDescription}}}
            </div>
            {{/if}}
        </div>
    </fieldset>
    {{/if}}
</section>